// app.scss
// Andrew Riberio - Andrew@kexp.io
// June 2018

@import "~bootstrap/scss/bootstrap";

body {
    background: lightblue; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom, white, lightblue) fixed; /* Standard syntax (must be last) */
    background-repeat: no-repeat;
}

#dat{
    background-color: azure;
    clear:right;
    font-size: 14px;
}

#viewButtons{
    text-align: right;
    vertical-align:middle;
    float:right;
    margin-bottom: 5px;
}
#dataVisMenu{
    float: left;
    clear: left;
}

.gridCell{
    float: left;
    text-align: center;
    background-color: beige;
    height: 40px;
    padding:10px;
    border: solid thin gray;
}

#modelView{
    float:left;
    margin-top: 34px;
    margin-right: 20px;
}

#trainingCurves{
    height: 300px;
    width: 300px;
    background-color: red;
    border: medium solid gray;
    margin-bottom: 30px;
}

#modelParameters{
    height: 300px;
    width: 300px;
    border: medium solid gray;
    background-color: red;
}

#dataDisplay{
    float:left;
    width:1000px;
}

#visMidContainer{
    width: 1350px;
    display:inline-block;
}

#visContainer{
    text-align: center;
}

#startBttnContainer{
    margin-top: 10px;
}

#footer{
    text-align: center;
    margin-top: 10px;
}